[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "==1.1.1"
flask-restful = "==0.3.7"
python-dotenv = "==0.10.3"
pytest = "==5.3.2"
celery = "==4.4.0"
marshmallow = "==3.3.0"
redis = "==3.3.11"
elasticsearch-dsl = "==7.1.0"
flask-http-response = "==0.0.1.0"
flask-mongoengine = "==0.9.5"
flask-sqlalchemy = "==2.4.1"

[requires]
python_version = "3.7"
